@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

.header .top-nav,
.header .nav-content,
.header .navbar{
    padding-left: 100px;
}
/* Top-nav */
.top-nav {
    background-color: #80BB35;
    color: #ffff;
}

.top-nav ul{
    margin: 10px 0px 10px 0px;
    
}

.top-nav i,
.top-nav span,
.top-nav a{
    vertical-align: middle;
}

.top-nav span{
    font-weight: 600;
}
.top-nav a{
    text-decoration: none;
    color: #ffff;
    justify-content: space-around;
}

/* nav-content */
.nav-content a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}


.nav-content{
    margin-left: 100px;
    padding: 0px;
}

.nav-content a:hover{
    color: #80BB35;
}

.nav-content .item-polyci img{
    margin-right: 20px;
}

.btn {
    background-color: #FE9705;
    border: #FE9705;
    color: #ffff;
    border-radius: 20px;
}
/* navbar */
.navbar {
    background-color: #80BB35;  
    padding: 0; 
    height: 54px;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu ul li{
    display: inline-block;
    position:relative;
  
}

.menu ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #ffff;
    padding: 16px;
    
}

 .menu ul li a:hover{
    background: #FE9705;
    transition: all 150ms;
}

.menu ul li > .sub-menu, .sub-menu2{
    display: none;
    
}

.menu ul li:hover .sub-menu,
.menu ul li:hover .sub-menu2{
    position: absolute;
    display: block;
    width:max-content;
    top: 40px;
    background-color: #ffff;
    box-shadow: 0px 2px 15px  rgba(0, 0, 0, 0.2);
  
}

.menu ul li:hover .sub-menu li,
.menu ul li:hover .sub-menu2 li{
    
    display: flex;
}
.menu ul li:hover .sub-menu li a,
.menu ul li:hover .sub-menu2 li a{
    color: black;
    padding: 5px;
}

.level10 {
    display: flex;
    gap: 150px;
}

#search{ 
    padding-left: 15px;
    margin-left: 25px;
    width: 200px;
    border-radius: 20px;
    border: #ffff;
}

.sub-menu2 {
    z-index: 1000;
}

/* slider */
.head-title{
    margin: 0;
}

.list-food .title{
    background-color: #80BB35;
    border-radius: 20px;
    padding: 5px;
    color: #ffff;
}

.list-food{
    margin-left: 70px;
    margin-right: 20px;
    border: 1px solid #b1adadc8 ;
    border-radius: 20px;
    padding: 0px;
}
.food ul{
    list-style: none; 
    padding-left: 10px;
   
}

.food ul li{
    padding-top: 20px;
    
}

.food ul li a{
    padding: 20px;
    text-decoration: none;
    /* border-top: 1px solid #b1adadc8; */
    box-sizing: border-box;
    color: black;
}

.food ul li a:hover{
    color: #80BB35;
    transition: all 150ms;
}


/* banner */
.banner{
   padding: 25px;
 
}

/* Fruit */
.fruit ul{
    list-style: none;
    display: flex;
}

.fruit .section-title{
    margin-left: 60px;
    font-weight: 500;
    background-color: #80BB35;
    color: #ffff;
    border-radius: 20px;
    
}
.fruit .section-title h4{
    margin: 0px;
}

.fruit ul li{
    margin: 0px 15px 0px 15px;
    padding: 0;
    font-size: 20px;
}

.fruit ul li a{
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #b1adadc8 ;
}

.fruit ul li a:hover{
    color: #80BB35;
}

.list-card{
    margin-left: 60px;
    padding: 25px 0px 25px 0px;
}

.fruit .list-card .card{
    border-radius: 20px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.fruit .list-card .card img{
    height: 100% !important;
    width: 100% !important;
    border-radius: 20px;
}
.fruit .list-card .over-lay{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.796);
    width: 100%;
    height: 15%;
    top: 60%;
    transition: all 0.4s ease;
    opacity: 0;
}

.fruit .list-card .add{
    position: absolute;
   top: 60%;
   left: 30%;
   opacity: 0;
   transition: all 0.4s ease;
   background-color: #ffff;
   
}
 .card:hover .add{
     opacity: 1;
     top: 35%;
 }
 .card:hover .over-lay{
     opacity: 1;
     top: 35%;
 }

 .fruit .list-card .add a i{
    color:rgba(72, 69, 69, 0.4);
    width: 40px;
    height: 35px;
    line-height: 35px;
 }

 .fruit .list-card .add a i:hover{
     color: #80BB35;
     transition: all 150ms;
 }
 .fruit .list-card .card p:hover{
     color:#80BB35;
     transition: all 150ms;
 }